body {
  margin: 0;
  font-family: Arial;
  background: #f9f9f9;
  color: #222;
}

/* NAVBAR */
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);
}
