body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);
}

/* GRAFFITI LOGO */
.logo{
  font-size: 38px;
  font-weight: 900;
  color: white;
  line-height: 0.9;
  letter-spacing: 3px;
  text-transform: uppercase;
  transform: rotate(-3deg);
  text-shadow: 0 0 10px #00ff99;
}

.logo span{
  color: #00ff99;
}

/* HAMBURGER */
.menu-btn{
  width: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.menu-btn span{
  height: 5px;
  width: 100%;
  background: #00ff99;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff99;
}

/* SIDE MENU */
.side-menu{
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background: black;
  z-index: 2000;
  padding: 100px 40px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.side-menu.active{
  right: 0;
}

/* CLOSE BUTTON */
.close-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* MENU TITLE */
.side-menu h1{
  color: #00ff99;
  font-size: 45px;
  margin-bottom: 50px;
}

/* MENU LINKS */
.side-menu a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin: 20px 0;
  transition: 0.3s;
}

.side-menu a:hover{
  color: #00ff99;
  transform: translateX(10px);
}

/* SOCIAL ICONS */
.menu-socials{
  margin-top: auto;
  display: flex;
  gap: 25px;
}

.menu-socials a{
  font-size: 30px;
  color: white;
}

/* HERO SECTION */
.hero{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding: 120px 20px;
background:
linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
url('elvis.jpg') center/cover;
}

.hero-content h1{
font-size: 70px;
margin-bottom: 15px;
letter-spacing: 3px;
}

.hero-content span{
color: #00ff99;
}

.hero-content p{
font-size: 22px;
color: #ccc;
margin-bottom: 30px;
}
